name: Go

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Build and Test
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.3'

      - name: Test
        run: go test ./internal...

      - name: Build
        run: |
          mkdir dist
          go build -ldflags "-H windowsgui" -o dist/stac-client.exe ./cmd

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: stac-client
          path: dist/stac-client.exe

  release:
    name: Release
    needs: build
    runs-on: windows-latest
    steps:
      - name: Get built artifact
        uses: actions/download-artifact@v5
        with:
          name: stac-client.exe

      - name: Create release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: stac-client



